<%= form_with(model: @test_blog, local: true, url: choose_new_or_edit) do |form| %>
    <% if @test_blog.errors.any? %>
        <div id="error_explanation">
            <h2><%= @test_blog.errors.count %>件のエラーがあります。</h2>
            <ul>
            <% @test_blog.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="blog_title">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit %>
<% end %>

<%= link_to 'ブログ一覧に戻る', test_blogs_path %>
